11.1 Personal Agent 2.0.json
{
  "name": "11.1 Personal Agent 2.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        -224
      ],
      "id": "f2c6abe5-c33e-4567-9089-5277083b5a20",
      "name": "Telegram Trigger",
      "webhookId": "2bc69fee-d9fa-4a1e-827b-09aef5997185",
      "credentials": {
        "telegramApi": {
          "id": "zkiSktd27uDpf3Q0",
          "name": "Telegram account AIS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, and calendar events for the user. You have access to three tools to help you fulfill requests:\n\n# Contacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails.\n\n# Email Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\n# Calendar Agent: Use this for scheduling, updating, or managing calendar events.\n\n# Send Slack Message: Use this to send a message in Slack.\n\n# Project Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -560,
        -224
      ],
      "id": "7d3e21dc-b1ce-4dde-8a7e-d8b325f5217e",
      "name": "Personal Assistant 2.0 Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -656,
        -96
      ],
      "id": "93de8d7f-10d5-4019-a7cc-816361a1419d",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "2ll7nWhcZokpqeYF",
          "name": "OpenAi account AIS"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to get information about the company."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        384,
        -96
      ],
      "id": "11debbe5-e7c7-4deb-ba7b-5812290b5b00",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        48
      ],
      "id": "c592940c-6a5b-46fe-869e-8d42398af867",
      "name": "gpt-4.1-mini1",
      "credentials": {
        "openAiApi": {
          "id": "2ll7nWhcZokpqeYF",
          "name": "OpenAi account AIS"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        240
      ],
      "id": "9a63ded0-907c-4a6a-9544-4f62a6d9ff8e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "nhAOL9sKMfyG8Vrt",
          "name": "Google Gemini(PaLM) API account AIS"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0AlvWQsTusdhR4Xm0mK3prevo1Xkz7Z48GLW2u7VBc",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0AlvWQsTusdhR4Xm0mK3prevo1Xkz7Z48GLW2u7VBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0AlvWQsTusdhR4Xm0mK3prevo1Xkz7Z48GLW2u7VBc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -608,
        32
      ],
      "id": "69d0bcd9-25ea-43e7-9789-7a3ab8cb6e50",
      "name": "Contacts DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r5dJyl6N7Nvh7Os3",
          "name": "Google Sheets AIS"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09D4FHS4HJ",
          "mode": "list",
          "cachedResultName": "all-sachin-ais"
        },
        "text": "={{ $fromAI(\"message\",\"the message the user wants to send in Slack\") }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.3,
      "position": [
        -496,
        96
      ],
      "id": "94a1b52b-b6f0-4831-bc87-9b911353cd26",
      "name": "Send Message on Slack",
      "webhookId": "2065439f-fb57-4645-a143-722e272996dc",
      "credentials": {
        "slackApi": {
          "id": "tJ2d9lupaif6Ngmh",
          "name": "Sachin AIS"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        176,
        48
      ],
      "id": "031b24ed-b3a8-4f55-83e0-5864cf4eb0e2",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        -272
      ],
      "id": "66c7c050-db38-4965-8b95-c333c7c3825c",
      "name": "Responsd as Message",
      "webhookId": "dd148ea2-aa3e-425c-b79f-3659b28d8727",
      "credentials": {
        "telegramApi": {
          "id": "zkiSktd27uDpf3Q0",
          "name": "Telegram account AIS"
        }
      }
    },
    {
      "parameters": {
        "content": "## Input Query\n\n1. Can you schedule a meeting for tomorrow with Phil at 12 p.m. and then you can email him to confirm if that works?\n\n2. Can you create a calendar event with Phil for tommorow at 6pm for dinner\n3. Please get my email from Phil\n4. can you find out recent news about Open AI\n5. What is Tesla\n6. can you find apple's most recent earnings ?\n7. can you please summarize the project database\n8. can you please update the notes and status of the marketing campaign project to complete\n9. Send my team a slack message letting them know i'm going to be late to the meeting\n10. What is our policy on health and safety and data privacy\n11. What are our payment terms? and also how much do we charge for an oil change?\n12. 8*451",
        "height": 464,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2640,
        16
      ],
      "id": "e3aeb7b1-ca37-4dee-85e4-d3ff1443d3b0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "name": "Email_Agent",
        "description": "Call this tool to take any email actions",
        "workflowId": {
          "__rl": true,
          "value": "NN1LHi57IcUBR4uT",
          "mode": "list",
          "cachedResultName": "11.3 ⚙️Email Agent 2.0"
        }
      },
      "id": "a750a935-8d06-4b41-bb9c-cf0ea0fe44ee",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -368,
        176
      ]
    },
    {
      "parameters": {
        "name": "Calendar_Agent",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "sPgtmHZFeuoggAKy",
          "mode": "list",
          "cachedResultName": "11.2 ⚙️Calendar Agent 2.0"
        }
      },
      "id": "d58c1cec-2aab-4fee-94b5-bdf00f3d5a1a",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "name": "=Research_Agent",
        "description": "Call this tool to search through Wikipedia, articles, or google to answer the user's question.",
        "workflowId": {
          "__rl": true,
          "value": "5QHWcQYq4fBjQkA8",
          "mode": "list",
          "cachedResultName": "11.5 ⚙️Research Agent"
        }
      },
      "id": "b67b555d-82c5-43fb-a4ba-a0e0c0b53a4e",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        176
      ]
    },
    {
      "parameters": {
        "name": "Project_Agent",
        "description": "Call this tool to take action on our projects.",
        "workflowId": {
          "__rl": true,
          "value": "QPDh9X8A35lhTbWt",
          "mode": "list",
          "cachedResultName": "11.4 ⚙️ Project Agent Database"
        }
      },
      "id": "a0e85c18-fe2a-4c39-944a-9da6f786ec34",
      "name": "Project Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        144
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-sample",
          "mode": "list",
          "cachedResultName": "n8n-sample"
        },
        "options": {
          "pineconeNamespace": "Body Shop T&C"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        64
      ],
      "id": "3733af1a-360a-45f1-a646-1438b19122de",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "2iuyzAXGASVualea",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Contacts DB": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Message on Slack": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Personal Assistant 2.0 Agent": {
      "main": [
        [
          {
            "node": "Responsd as Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Project Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant 2.0 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de3d6fa7-7bab-4301-b3be-9b8d59584aac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91f42292365f2736b62ea45ddfd531a5d9a185f2bc4a363bfb1ae1188ac76851"
  },
  "id": "zu2s90BSqVXZM5Qq",
  "tags": []
}