11.2 ⚙️Calendar Agent 2.0.json
{
  "name": "11.2 ⚙️Calendar Agent 2.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        0
      ],
      "id": "f15d4098-ee54-40ff-ba0d-a872f5ef8043",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        208
      ],
      "id": "093e5dd6-dd63-4f30-a5ae-159b9ed911f5",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "2ll7nWhcZokpqeYF",
          "name": "OpenAi account AIS"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sachinsavkare08@gmail.com",
          "mode": "list",
          "cachedResultName": "sachinsavkare08@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"oneDayBefore\",\"one day before the day that the user requested\") }}",
        "timeMax": "={{ $fromAI(\"oneDayAfter\",\"one day after the day that the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        208,
        240
      ],
      "id": "f904d1cd-ada1-45cf-b6cc-fefbba5ea1f3",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6ppAccMnijHjiaLv",
          "name": "Google Calendar account AIS"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sachinsavkare08@gmail.com",
          "mode": "list",
          "cachedResultName": "sachinsavkare08@gmail.com"
        },
        "start": "={{ $fromAI(\"starttime\",\"the time the user asks for the event to start\") }}",
        "end": "={{ $fromAI(\"endtime\",\"the time the user asks for the event to end\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendeeEmail\",\"the email of the user asks the event to be sceduled with\") }}"
          ],
          "summary": "={{ $fromAI(\"name\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        240
      ],
      "id": "d37489ae-2a00-4304-8973-5462ec6e659e",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6ppAccMnijHjiaLv",
          "name": "Google Calendar account AIS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8392892e-649c-408e-afe3-09a97e36c97f",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        16
      ],
      "id": "8a2aaeba-f0c6-4acd-afbe-98351e19650e",
      "name": "Try Again"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a calendar assistant. You have access to multiple tools to take any action within the calendar. \nAlways work in IST (Indian Standard Time) timezone.\n\nHere is the current date/time (IST): {{ $now }}\n\nCreate Event:\n- If an end date isn't specified for the event, assume it will be 60 minutes long.\n- Use this tool if there is NO attendee specified.\n\nCreate Event with Attendee:\n- If an end date isn't specified for the event, assume it will be 60 minutes long.\n- Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\n- Use this tool to retrieve events from a specific day and provide a summarized list of those events.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        0
      ],
      "id": "2a00186c-1fd4-4bee-994f-e648cb51f5b9",
      "name": "Calendar Agent",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sachinsavkare08@gmail.com",
          "mode": "list",
          "cachedResultName": "sachinsavkare08@gmail.com"
        },
        "start": "={{ $fromAI(\"oneDayBefore\",\"one day before the day that the user requested\") }}",
        "end": "={{ $fromAI(\"oneDayAfter\",\"one day after the day that the user requested\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"name\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        240
      ],
      "id": "957403c0-ed29-4939-ac4b-ea25db769042",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6ppAccMnijHjiaLv",
          "name": "Google Calendar account AIS"
        }
      }
    },
    {
      "parameters": {
        "content": "## JAVA SCRIPT\n\n1. Start: {{ $fromAI(\"starttime\",\"the time the user asks for the event to start\") }}\n2. End: {{ $fromAI(\"endtime\",\"the time the user asks for the event to end\") }}\n3. Attendee: {{ $fromAI(\"attendeeEmail\",\"the email of the user asks the event to be sceduled with\") }}\n4. Summary: {{ $fromAI(\"name\",\"the name of the calendar event\") }}",
        "height": 192,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -448
      ],
      "id": "ff938937-2d97-41fa-a073-a31cc7fd89f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8392892e-649c-408e-afe3-09a97e36c97f",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -176
      ],
      "id": "87d4b885-55dc-410d-9ae2-4c84a7e0dcb7",
      "name": "Response to PA 2.0 (Success)"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Response to PA 2.0 (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eba42356-06d1-41ce-8fb4-0f50f91721ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91f42292365f2736b62ea45ddfd531a5d9a185f2bc4a363bfb1ae1188ac76851"
  },
  "id": "sPgtmHZFeuoggAKy",
  "tags": []
}