11.5 ⚙️Research Agent.json
{
  "name": "11.5 ⚙️Research Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1696,
        -224
      ],
      "id": "3060e4ea-1e5d-4ee2-bdcf-ab6340641a10",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1552,
        16
      ],
      "id": "e21e7cc5-8f5f-40c6-9077-e6accabee5c8",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "2ll7nWhcZokpqeYF",
          "name": "OpenAi account AIS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbf2dcb5-9a62-4160-9435-45f1b8c42e63",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -432
      ],
      "id": "cbbdc04c-185e-43eb-9a22-fe76bf5740af",
      "name": "Response to PA 2.0 (Success)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41ddebcf-f527-4f8d-8faf-2b5f2e7f2d11",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -208
      ],
      "id": "413c85eb-6247-49a0-be2c-bc872550d406",
      "name": "Response to PA 2.0 (Try Again)"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -1328,
        48
      ],
      "id": "cc36a07a-4fa2-4d19-bf47-3fc288d1a62b",
      "name": "Wikipedia1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a research assistant agent. You have Wikipedia, Hacker News API, and Serp API at your disposal. \n\nTo answer the user's question, first search wikipedia. If you can't find your answer there, then search articles using Hacker News API. If that doesn't work either, then use Serp API to answer the user's question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1472,
        -224
      ],
      "id": "bbe81915-d5c9-48c8-9f14-a99dc18e1443",
      "name": "Research Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "articleId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        -1184,
        32
      ],
      "id": "df438e40-d007-4d66-8bed-61c881b8a879",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1024,
        48
      ],
      "id": "532be6b5-81c1-42f3-9ed7-e3045218deaf",
      "name": "Serp API",
      "credentials": {
        "serpApi": {
          "id": "uBfKx4oq5KOYWrKs",
          "name": "Serp API AIS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Response to PA 2.0 (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response to PA 2.0 (Try Again)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Serp API": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0678727a-9df5-4cf4-8621-0e8a2ec47e2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91f42292365f2736b62ea45ddfd531a5d9a185f2bc4a363bfb1ae1188ac76851"
  },
  "id": "5QHWcQYq4fBjQkA8",
  "tags": []
}